body, html {
    margin: 0;
    background: #fff;
    font: 1em 'Work Sans', sans-serif;
    font-weight: 300;
}

/*Beto (INICIO)*/

.btn-menu-beto {
    height: 70px;
    width: 70px;
    background-color: #222;
    text-align: center;
    line-height: 70px;
    color: #55d6aa;
    font-family: arial;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
    margin-left: 30px;
}

.drop-menu-beto {
    display: inline-block;
    height: auto;
    width: auto;
    background-color: #222;
    visibility: hidden;
    margin-left: 30px;
}

.btn-menu-beto:hover ~ .drop-menu-beto {
    visibility: visible;
}

.drop-menu-beto:hover {
    visibility: visible;
}

.btn-drop-beto {
    color: #fff;
    font-family: arial;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
    padding: 10px;
    border-top: solid 1px #fff;
    text-decoration: none;
    display: block;
}

    .btn-drop-beto:hover {
        color: #55d6aa;
        font-family: arial;
        font-size: 18px;
        cursor: pointer;
        user-select: none;
        padding: 10px;
        border-top: solid 1px #fff;
        background-color: #222;
    }

.btn-drop-beto:first-child {
    border: none;
}

.btn-drop-beto a.but_gerir{
    display:none;
} 

/*Beto (FIM)*/


.content {
    padding:30px;
}

.btn {
    height: 80px;
    width: 70px;
    background-color: blue;
    text-align: center;
    line-height: 80px;
    color: #fff;
    font-family: arial;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
}



.nav-main {
        width:100%;
        background-color:#222;
        height:70px;
        color:#fff;

}

.btn:first-child {
    border:none;

}


.nav-main .logo {
    float:left;
    height:40px;
    padding:15px 30px;
    font-size:1.4em;
    line-height:40px;

}



.nav-main > ul {
        margin:0;
        padding:0;
        float:left;
        list-style-type:none;
}

.nav-main > ul  > li {
    float:left;


}



.nav-item {
    display: inline-block;
    padding: 15px 20px;
    height: 40px;
    line-height: 40px;
    color: #55d6aa;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    font-family: Arial;
    font-size: 18px;
    
}



.nav-item:hover {
      
        
        background-color:#444;
        visibility:visible;
    }


    .nav-content {
        position:absolute;
        top:70px;
        overflow:hidden;
        background-color:#222;
       

    }

    .nav-content a {

        color:#fff;
        text-decoration:none;

    }
        

        .nav-content a:hover {
            text-decoration: underline;
            background-color: #444;
            max-height: 400px;
            transition: max-height 0.4s ease-in-out;
        }

   
    .nav-item:focus {
        background-color:#444;

    }

    .nav-item:focus ~ .nav-content {
        max-height:400px;
        transition:max-height 0.4s ease-in-out;
    }
       



    /*Pop up*/

a:link,
a:visited {
    text-decoration: none;
}

.modal {
    background-color: #444;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
}

.modal-content {
    width: 25%;
    height: 25%;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    border-radius: 1em;
    opacity: 0;
    visibility: hidden;
}


#modal:target {
    opacity: 1;
    visibility: visible;
    
}


    #modal:target .modal-content {
        opacity: 1;
        visibility: visible;
        
    }



.modal-close {
    color: #363636;
    font-size: 2em;
    position: absolute;
    top: .5em;
    right: 1em;
   
}

.modal-heading {
    
    margin-bottom: 1em;
    color: lightgreen;
}

.modal-p {
    line-height: 1.5em;
}

.modal-open {
    display: inline-block;
   
}


/*
    .nav-sub {
        padding:20px;


    }

    .nav-sub ul {
        padding:0;
        margin:0;
        list-style-type:none;

    }

    .nav-sub ul li a {
        display:inline-block;
        padding:5px 0;

    }
    */ 


/*-----------------------------------------------------------*/
/*FUTEBOL*/
* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.jogos {
   
    margin-top: 20%;
    margin-left: 43.5%;
    display:flex;
    margin-right:5%;
}

.game {
    display: flex;
    width: 100%;
}

.eqCasa {
    margin-right: 10px;
}

.resultado {
    margin-right: 10px;
}

.eqFora {
    margin-right: 10px;
}

.apostabtn {
  
    margin-left: 45%;
    display: flex;
    margin-right: 5%;
}
.bet{
    margin-right:10px;
}


#Multipla{
    width: 100%;
    margin-left: 30%;
}

.container_aposta{
    display:flex;
    width:100%;
}

#jogos{
    margin-left:43%;
}



